$primary-color: #000;
$color-white: #fff;

$secondary-color-blue: #377dff;
$secondary-color-green: #38cb89;
$secondary-color-orange: #ffab00;
$secondary-color-red: #ff5630;

$neutral-color-01: #fefefe;
$neutral-color-02: #f3f5f7;
$neutral-color-03: #e8ecef;
$neutral-color-04: #6c7275;
$neutral-color-05: #343839;
$neutral-color-06: #232627;
$neutral-color-07: #141718;

$background-color: #fff;
